<tr>
  <div  style="text-align:center;" ></div>
  <th><%= display_card.displaycon %></th>
  <th><button class="button"><%=link_to "change" , "/cards/#{display_card.id}", method: :delete %></button></th>
</tr>
