<%provide(:title, "About")%>
<div class="sample" style="text-align:center;">
    <div>
        このゲームは価値観の抽出を行います。</br>
        スタートボタンを押すと、5つの言葉が表示されます。</br>
        その中から自分の価値観とは違うものを一つ選び、チェンジボタンを押す。</br>
        すると新しい言葉に変わります。複数回繰り返し、最終的に残ったものがあなたの価値観を表しています。</br>
        チェンジする言葉がなくなった場合、resultボタンを押すと結果画面に移ります。
    </div>
</div>